/* Estilização geral da página */
body{

    font-family: Arial;
    /* Define a fonte do texto da página como Arial */

    background:#1e1e1e;
    /* Define a cor de fundo da página.
       Esse tom de cinza escuro cria um visual estilo "tema dark" */

    color:white;
    /* Define a cor padrão do texto como branco */

    text-align:center;
    /* Centraliza textos e elementos inline dentro do body */

}

/* Estilização do container que guarda os personagens */
#container{

    display:flex;
    /* Ativa o Flexbox.
       Permite organizar os elementos filhos (cards) de forma flexível */

    flex-wrap:wrap;
    /* Permite que os elementos quebrem para a próxima linha
       quando não houver mais espaço na mesma linha */

    justify-content:center;
    /* Centraliza os elementos horizontalmente dentro do container */

    gap:20px;
    /* Define um espaço de 20px entre os elementos (cards) */

    margin-top:20px;
    /* Adiciona um espaço de 20px acima do container */

}

/* Estilização de cada card de personagem */
.card{

    background:#2c2c2c;
    /* Define a cor de fundo do card */

    padding:15px;
    /* Adiciona um espaçamento interno entre o conteúdo e a borda */

    border-radius:10px;
    /* Arredonda os cantos do card */

    width:200px;
    /* Define a largura fixa do card */

}

/* Estilização da imagem dentro do card */
.card img{

    width:100%;
    /* Faz a imagem ocupar 100% da largura do card */

    border-radius:10px;
    /* Arredonda os cantos da imagem para combinar com o card */

}
